{% extends "main.html" %}
{% block title %}Credits{% endblock %}

{% include 'header.html' %}

{% block content %}
<div class="listcontainer">
    <h2>Credits</h2>
    <hr>
    <p>Special thanks to jQuery for popup animations, Ajax for asynchronous deletion of notifications and W3Schools for
        inspiration of some JavaScript features.</p>
    <br>
    <div class="row">
        <div class="column">
            <div class="imageshadow">
                <img src="/static/images/gigup-logo-wide.png" alt="Website logo" style="width:30%">
            </div>
            <p>The official logo of GigUp.</p>
        </div>
    </div>
</div>
{% endblock %}