{% extends "main.html" %}
{% block title %}Forgot password{% endblock %}


{% include 'header.html' %}

{% block content %}
<form action="email_reset_password" method="post">
	<div class="logcontainer">
		<fieldset>
		<legend><h2>Reset password</h2></legend>
		<p style="font-size: 18px">If you have forgotten your password, enter your email address below. We will send you a link to reset it.</p>
		<hr>
		<input type="email" placeholder="Enter your email address..." name="email" id="email" required>
		<button type="submit" class="regbutton">Reset password</button>
		</fieldset>
	</div>
</form>
{% endblock %}