{% extends "main.html" %}
{% block title %}Home{% endblock %}

{% include 'header.html' %}

{% block content %}
{{ super() }}
<div class="listcontainer">
    <div class="homepage_intro">
        <div class="homepage_logo">
            <div class="imageshadow">
                <img class="round" src="/static/images/gigup-logo-wide.png" alt="Website logo" height="100px">
            </div>
        </div>
        <div class="homepage_welcome">
            <h1>Welcome to
                <span><b>GigUp.</b></span>
            </h1>
            <div class="homepage_info">
                Preventing late attendances since 2023.
            </div>
        </div>
    </div>
</div>
<br>
{% if near_full_events|length > 0 %}
<div class="listcontainer">
    <h2>Almost sold out!</h1>
    <hr>
    {% for entry in near_full_events %}
        <div class="eventcontainer" id="{{entry.id}}">
            {% if entry.is_cancelled %}
                <h2 style="color: red">Cancelled!</h2>
            {% endif %}
            <div class="eventwrapper">
                <div>
                    <div class="eventname"><b>{{ entry.name }}</b></div>
                    <hr>
                    <div class="eventdate">{{ entry.date.strftime("%d %b, %Y, %H:%M") }} at {{ entry.location }}</div>
                    <br>
                    <div class="eventdesc"><i>{{ entry.description }}</i></div>
                    <br>
                    <div class="eventdur">Duration: {{ entry.duration }} minutes</div>
                    {% if current_user.is_organiser %}
                        <div class="eventcap">Capacity: {{ entry.capacity }}</div>
                        <div class="eventcap">Remaining spaces: {{ entry.remaining }}</div>
                    {% endif %}
                    {% if entry.is_near_full %}
                        <h3>{{ entry.remaining }} ticket(s) left!</h3>
                    {% endif %}
                    {% if entry.is_full %}
                        <h2 style="color: rgb(245, 124, 69)">FULL!</h2>
                    {% endif %}
                </div>
                <div><img class="eventimage" src="static/events/{{ entry.image }}" alt="Event picture" height="200px"></div>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
<br>
<div class="listcontainer">
    <h2>Recently added events</h2>
    <hr>
    {% for entry in new_events %}
    <div class="eventcontainer" id="{{entry.id}}">
        {% if entry.is_cancelled %}
            <h2 style="color: red">Cancelled!</h2>
        {% endif %}
        <div class="eventwrapper">
            <div>
                <div class="eventname"><b>{{ entry.name }}</b></div>
                <hr>
                <div class="eventdate">{{ entry.date.strftime("%d %b, %Y, %H:%M") }} at {{ entry.location }}</div>
                <br>
                <div class="eventdesc"><i>{{ entry.description }}</i></div>
                <br>
                <div class="eventdur">Duration: {{ entry.duration }} minutes</div>
                {% if current_user.is_organiser %}
                    <div class="eventcap">Capacity: {{ entry.capacity }}</div>
                    <div class="eventcap">Remaining spaces: {{ entry.remaining }}</div>
                {% endif %}
            </div>
            <div><img class="eventimage" src="static/events/{{ entry.image }}" alt="Event picture" height="200px"></div>
        </div>
    </div>
    {% else %}
        <h4>No recently added events.</h4>
    {% endfor %}
</div>
<br>
<div class="listcontainer">
    <a href="{{ url_for('events') }}" class="regbutton">See more events...</a>
</div>
<br>
{% endblock %}