{% extends "main.html" %}
{% block title %}Reset password{% endblock %}
{% block script %}<script src='/static/js/reset_password.js'></script>{% endblock %}

{% include 'header.html' %}

{% block content %}
<form action="check_reset_password" id="resetpassform" method="post">
	<div class="logcontainer">
		<fieldset>
		<legend><h2>New password</h2></legend>
		<hr>
		<input type="hidden" value="{{token}}" name="utoken">
		<input type="password" placeholder="Enter a new password..." name="newpass" id="newpass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number, one uppercase and lowercase letter, and at least 8 characters." required>
		<input type="password" placeholder="Repeat password..." name="repeatnewpass" id="repeatnewpass" required>
        <button type="submit" class="regbutton">Reset password</button>
		<div id="error">{{error}}</div>
		</fieldset>
	</div>
</form>
{% endblock %}