<div style="background-color: white">
    <h1>Welcome to GigUp!</h1>
    <img src="gigup-logo-mail.png" alt="GigUp logo" width="200px">
    <h3>Please verify your email by clicking <a href="{{ request.host_url + 'verify/' + current_user.token }}">here.</a></h3>
    <p>Your password has been securely stored in our database and cannot be retrieved. In the event that it is forgotten, you will be able to reset it using the email address associated with your account.</p>
    <br>
    <p>Thank you for registering.</p>
</div>